{% extends 'base.html' %}
{% load static %}
{% block title %}Select Value{% endblock %}
{% block content %}
    <div class="container-lg my-5">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <!-- Select Box Main Theme -->
                <select class="form-select"
                        name="theme_main"
                        id='clear_Selects'
                        autofocus
                        hx-trigger="change, load"
                        hx-get="{% url 'articles:themes' %}"
                        hx-target="#themes_sub">
                    <option disabled selected>Thema</option>
                    {% for theme in themes %}<option value="{{ theme }}">{{ theme }}</option>{% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select"
                        name="theme_sub"
                        id="themes_sub"
                        hx-trigger="change"
                        hx-get="{% url 'articles:themes_sub' %}"
                        hx-target="#prod_types">
                    <!-- Content from HTMX response -->
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select" name="prod_types" id="prod_types">
                    <!-- Content from HTMX response -->
                </select>
            </div>
        </div>
    </div>
{% endblock content %}
